name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    strategy:
      matrix:
        package: [
          # internal packages
          'utils',

          # common packages
          '@grandom/core',
          '@grandom/engines',

          # individual packages
          '@grandom/bigint',
          '@grandom/boolean',
          '@grandom/number',
          '@grandom/pick',
          '@grandom/shuffle',
          '@grandom/string',
          '@grandom/weighted',

          # library package
          'grandom'
        ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            packages/*/package-lock.json

      - name: init
        run: >
          npm ci &&
          npx lerna exec --scope ${{ matrix.package }} --
          npm ci

      - name: check commits
        run: >
          npx lerna exec --scope ${{ matrix.package }} --
          npx commitlint
          --from ${{ github.event.pull_request.base.sha }}
          --to ${{ github.event.pull_request.head.sha }}
          --verbose

      - name: check lint
        run: >
          npx lerna exec --scope ${{ matrix.package }} --
          npm run check:lint

      - name: check types
        run: >
          npx lerna exec --scope ${{ matrix.package }} --
          npm run check:types

      - name: test
        run: >
          npx lerna exec --scope ${{ matrix.package }} --
          npm test -- --coverage

      - name: prepare coverage flag
        id: coverage_flag
        run: |
          coverage_flag=$(echo "${{ matrix.package }}" | sed 's/@//;s/\//-/g')
          echo "coverage_flag=$coverage_flag" >> $GITHUB_ENV

      - name: upload coverage
        uses: codecov/codecov-action@v3
        with:
          flags: ${{ env.coverage_flag }}

    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  release:
    needs: test

    runs-on: ubuntu-20.04
    timeout-minutes: 10

    # skip the job if the pull request was opened by Dependabot
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            packages/*/package-lock.json

      - name: init
        run: npm ci && npx lerna exec -- npm ci

      # internal packages ----------------------------------------------------------------------------------------------
      - name: utils
        run: >
          npx lerna exec --scope utils -- npm run prep &&
          npx lerna exec --scope utils -- npx --no-install semantic-release -e semantic-release-monorepo

      # common packages ------------------------------------------------------------------------------------------------
      - name: core
        run: >
          npx lerna exec --scope @grandom/core -- npm run prep &&
          npx lerna exec --scope @grandom/core -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: engines
        run: >
          npx lerna exec --scope @grandom/engines -- npm run prep &&
          npx lerna exec --scope @grandom/engines -- npx --no-install semantic-release -e semantic-release-monorepo

      # individual packages --------------------------------------------------------------------------------------------
      - name: bigint
        run: >
          npx lerna exec --scope @grandom/bigint -- npm run prep &&
          npx lerna exec --scope @grandom/bigint -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: boolean
        run: >
          npx lerna exec --scope @grandom/boolean -- npm run prep &&
          npx lerna exec --scope @grandom/boolean -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: number
        run: >
          npx lerna exec --scope @grandom/number -- npm run prep &&
          npx lerna exec --scope @grandom/number -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: pick
        run: >
          npx lerna exec --scope @grandom/pick -- npm run prep &&
          npx lerna exec --scope @grandom/pick -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: shuffle
        run: >
          npx lerna exec --scope @grandom/shuffle -- npm run prep &&
          npx lerna exec --scope @grandom/shuffle -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: string
        run: >
          npx lerna exec --scope @grandom/string -- npm run prep &&
          npx lerna exec --scope @grandom/string -- npx --no-install semantic-release -e semantic-release-monorepo

      - name: weighted
        run: >
          npx lerna exec --scope @grandom/weighted -- npm run prep &&
          npx lerna exec --scope @grandom/weighted -- npx --no-install semantic-release -e semantic-release-monorepo

      # library package ------------------------------------------------------------------------------------------------
      - name: grandom
        run: >
          npx lerna exec --scope grandom -- npm run prep &&
          npx lerna exec --scope grandom -- npx --no-install semantic-release -e semantic-release-monorepo

    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
